@font-face {
  font-family: "essays1743";
  font-style: normal;
  font-weight: 500;
  src: url(../f/essays1743-webfont.woff) format("woff"),
    url(../f/essays1743-webfont.eot) format("eot"),
    url(../f/essays1743-webfont.svg) format("svg");
}

@font-face {
  font-family: 'Essays 1743';
  src: url('../f/essays1743-italic-webfont.eot') format("eot"),
    url('../f/essays1743-italic-webfont.woff') format('woff'),
    url('../f/essays1743-italic-webfont.svg') format('svg');
  font-weight: 500;
  font-style: italic;
}
